# https://platform.openai.com/api-keys
OPENAI_API_KEY=your-openai-key
LLM_MODEL=openai/gpt-4o-mini
JUDGE_MODEL=openai/gpt-4o-mini

# Mastra Observability — https://projects.mastra.ai
MASTRA_PLATFORM_ACCESS_TOKEN=your-token
MASTRA_PROJECT_ID=your-project-id

# Postgres database URL
DATABASE_URL=postgresql://...

# https://serpapi.com/manage-api-key
SERPAPI_API_KEY=your-serpapi-key
