OPENAI_API_KEY=

MASTRA_PLATFORM_ACCESS_TOKEN=
MASTRA_PROJECT_ID=7c42123d-200f-4503-aa33-f0d054087b73

LIBSQL_URL=libsql://your-db.turso.io
LIBSQL_AUTH_TOKEN=

CORS_ORIGINS=http://localhost:3000,https://weather-copilot-app.vercel.app
